* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*main*/
.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.dashboard-item {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    text-align: center;
    justify-content: space-between;
    flex-basis: 300px;
    /*margin: 20px;*/
    border-radius: 4px;
    padding: 16px;
    flex-grow: 0;
    flex-shrink: 1;
}

.item-soldTvs {
    border: 1px solid #2D9D8F;
    background-color: lightgreen;
    color: green;
}

.item-originalStock {
    border: 1px solid #2A9D2F;
    background-color: aqua;
    color: darkslateblue;
}

.item-currentStock {
    border: 1px solid crimson;
    background-color: indianred;
    color: darkred;
}

.tv {

    border-radius: 4px;

    padding: 20px;
    margin: 10px 0px;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    gap: 34px;
    align-items: center;
}

.bestselling-tv {
    border: 2px dotted gray;
    background-color: lightgrey;
}

.tv-image {
    max-width: 200px;
}

.icon {
    width: 12px;
}

.option-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.option-list img {
    margin-right: 4px;
}

button {
    padding: 20px 15px;
    margin: 20px;
    background-color: khaki;
}